.advantages-bottom {
  background: transparent url('../img/paralax.jpg') center top no-repeat;
  background-size: cover;
}

.advantages-bottom__wrapper {
  @mixin container;
  display: flex;
  justify-content: space-between;
}

.advantages-bottom__item {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 25%;
  display: flex;
}

.advantages-bottom__item-number {
  padding-right: 20px;
  padding-top: 6px;
  font-size: 30px;
  line-height: 20px;
  color: #ff3333;
  font-weight: 700;
}

.advantages-bottom__item-description {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  color: #f2f2f2;
  line-height: 25px;
}
