.page-header {
}

.page-header__top {
  background-color: #2a2a2b;
  padding: 12px 0;
}

.page-header__wrapper {
  @mixin container;
  display: flex;
  justify-content: flex-start;
}

.lang-toggle {
}

.lang-toggle__item {
  position: relative;
  margin: 0 10px;
  display: inline-block;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
  z-index: 1;

  &--active, &:hover {
    text-decoration: none;
  }

  &--active::before  {
    position: absolute;
    content: '';
    width: 63px;
    height: 17px;
    border-radius: 5px;
    background-color: #f63232;
    top: -1px;
    left: -8px;
    z-index: -1;
  }
}

.infomenu {
  @mixin notlist;
  flex-grow: 1;
  text-align: center;
}

.infomenu__item {
  margin-right: 20px;
  display: inline-block;
  position: relative;

  @media (min-width: $desktop-width) {
    margin-right: 40px;
  }

  &::after {
    position: absolute;
    top: 7px;
    right: -13px;
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #f63232;

    @media (min-width: $desktop-width) {
      right: -23px;
    }
  }

  &:last-child {
    margin-right: 0px;

    &::after {
      display: none;
    }
  }
}

.infomenu__item a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;

  &:hover {
    color: #ff4c4c;
  }
}

.callback {
  color: #fff;
  font-size: 13px;
}

.callback__phone {
  color: #f74a4a;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
