$desktop-width: 1270px;
$tablet-width: 870px;
$mobile-albom-width: 550px;

$slider-items: 3;
$newslider-items: 3;

$fs: 14px;
$lh: 1.15;
$fs_small: 13px;
$fs_medium: 17px;
$fs_big: 30px;
$fs_title: 22px;

$body-bg: #2a2a2b;
$body-bg1: #28282d;
$body-bg2: #f2f2f2;
$body-bg-light: #f1f1f1;
$text-color: #2c2c2c;
$text-color-accent: #f74a4a;
$text-color-banner: #191919;
$color-accent: #f63232;
$color-hover: #ff4c4c;
$cart-bg: #353535;
$cart-info-bh: #1e1e1e;
$cart-link: #ef3a3a;
$cart-size: #b5a28f;
$product-color: #354369;
$product-price: #1f1f1f;
$slider-bkg: #f1f1f1;
$product-new: #31629a;





$slider-width: 1230px;
$color-viber: #4e4e4e;
$color-slider: #252525;


$lh_small: 18px;
